.awards-section {
  background: #000;
  color: #fff;
  padding: 10vh 0;
  position: relative;
}

.awards-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 60px;
  padding: 0 2vw
}

.awards-header .awards-header-title {
  width: 30%;
}

.awards-header .awards-header-description {
  width: 30%;
  font-size: 1.3rem;
  font-weight:300;
}
.awards-header .awards-header-description-highlight{
    padding: 0 3rem;
}

.awards-list {
  position: relative;
}

.award-row {
  display: flex;
  align-items: center;
  position: relative;
  padding: 2rem 2vw;
  border-bottom: 1px solid #fff;
  cursor: pointer;
  z-index: 1;
}

.award-row .year {
  width: 10%;
  opacity: 0.7;
  font-size: 1.3rem;
}

.award-row .company {
  width: 20%;
  font-size: 1.3rem;
}

.award-row .title {
  width: 25%;
  font-size: 1.3rem;
  opacity: 0.7;
}

.award-row .image-container {
  width: 30%;
  position: absolute;
  right: 10%;
  bottom: 0;
  overflow: hidden;
}

.award-row.active {
  color: #0a0a0a;
  border-bottom: 1px solid #010101;
}

.award-row .image-container img {
  width: 100%;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.award-row.active .image-container img {
  opacity: 1;
  transform: translateY(0);
}

.highlight {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  background: transparent;
  border-bottom: 2px solid #fff;
  opacity: 0;
  z-index: 0;
}
